@import '../../Views/colors.scss';
table {

    table-layout: fixed;
    width: 69%;
    td,
    th {
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-weight: normal;
        color: #1C6EA4;
    }
    
    table {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        // width: 300px;
        text-align: left;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        table-layout: fixed;
    }
    
    th,
    td {
        // border: 1px solid #AAAAAA;
        padding: 3px 2px;
    }
    
    tr:nth-child(even) {
        background: #e6e4e4;
    }
    
    th {
        background: $menu-background;
        font-size: 110%;
        color: #FFFFFF;
        font-weight: normal;
        
    }
    
    body {
        background: ghostwhite;
    }
  }

#Update{
width : 10em;
}