
#app{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, sans-serif;
}

a{
    // color: #000000;
    text-decoration: none;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // text-align: center;
}

a:hover{    
    // color: #000000;
     font-weight: bold; 
}

a:visited{
    color: inherit;
  }

button{
    cursor: pointer;
}

.modal {
    position: absolute;
    inset: inherit;
}