.trainer-selector{
    border-radius: 1px;
    // padding: 30px;
    // height: 35px;
}
#date-time-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}