@import '../../../Views/colors.scss';
.TableScrollbar{
    display: flex;
    justify-content: center;
}
 table {
    table-layout: fixed;
    width: 100%;
    overflow-y: scroll;
    td,
    th {
        text-align: center;
    }
    h1 {
        text-align: center;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-weight: normal;
        color: #1C6EA4;
    }
    
    table {
        border: 1px solid #1C6EA4;
        background-color: #EEEEEE;
        // width: 300px;
        text-align: left;
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        table-layout: fixed;
    }
    
    th,
    td {
        // border: 1px solid #AAAAAA;
        padding: 3px 2px;
    }
    td{
      font-size: 12px;
    }
    
    tr:nth-child(even) {
        background: #e6e4e4;
    }
    
    th {
        background: #adadad;
        font-size: 14px;
        color: #FFFFFF;
        font-weight: normal;
        
    }
    
    body {
        background: ghostwhite;
    }
  }

#Update{
width : 10em;
}

.pagination {
    display: flex;
    width: 35%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 15px;
}

  .table-navigate{
    background: none;
    color: #5a9beb;
    font-size: 30px;
    padding: 0;
    margin: 0 auto;
  }

  .input-page{
    width: 20px;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f2f2f2;
  }
  
  .select-page{
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #sort-name-wrapper{
    display: flex;
    flex-direction: column;
   
}

.sort-btn{
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

#sort-icon{
  margin-left: 10px;
}

