html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Odibee Sans", cursive;
  font-family: "Oxygen", sans-serif;
}
#left-half {
  background-color: #861f1c;
  height: 35%;
}

#right-half {
  background-color: #ffffff;
  height: 100%;
}
#slogan1 {
  font-size: 2.5em;
}

#slogan2 {
  padding-top: 30px;
  font-size: 5em;
}

#slogans {
  color: #ffffff;
  height: 100%;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Thank-You-page {
  display: flex;
  background-color: #c6ced1;
  background-image: url("72971807_2423326977922002_260967650391795822_n.jpg");
  display: flex;
  position: absolute;
  background-size: auto;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

#Thank-You-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60%;
  flex-wrap: wrap;
  font-size: 500%;
  color: #2f3032;
  text-shadow: 0 0 5px #d3d3d3, 0 0 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#form {
  margin: 0 auto;
  margin-top: 20px;
  border-style: solid;
  /* border: 10px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  color: #070707;
  font-weight: bold;
  font-size: 17px;
  z-index: 10;
  align-items: center;
  border-radius: 5px;
  padding: 40px;
  width: fit-content;
}
#label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 4px;
}

.input {
  padding: 3px;
  font-size: 75%;
  border-width: 1px;
  width: 250px;
  background-color: #ffffff;
  color: #020303;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(66, 66, 66, 0.75);
  margin: 5px;
}

.input:focus {
  outline: none;
}

#area-code {
  width: 60px;
}

#male,
#female,
#email-permission {
  all: revert;
}

#btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  width: fit-content;
  color: #861f1c;
  border-radius: 5px;
  background-color: #ffffff;
  /* background-color: #861f1c; */
  border: 2px solid #861f1c;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  padding: 0 10px 0 10px;
  /* padding: 5px 10px; */
}

#btn:hover {
  background-color: #e4e4e4;
}

#btn:active {
  position: relative;
  top: 1px;
}

.area-code {
  width: 30px;
  height: 30px;
}

::placeholder {
  color: black;
}

textarea {
  font-family: "Fjalla One", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Odibee Sans", cursive;
  font-family: "Oxygen", sans-serif;
}

radio {
  font-size: 70%;
}

.inner-upper {
  display: flex;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
}

.error {
  font-size: 75%;
  color: #d81313;
}

#more-info {
  width: 250px;
  height: 120px;
}

textarea {
  margin-top: 5px;
  border-radius: 4px;
}

#phone {
  width: 180px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#updates {
  width: 267px;
}

#btn-wrapper {
  padding: 5px;
}
#right-half {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  height: 350px;
  border: 1px solid #861f1c;
  border-radius: 5px;
  width: 350px;
  /* height: 337px; */
  object-fit: cover;
}
