@import '../../../Views/colors.scss';


#table-wrapper{
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.row-button{
    background: none;
    color:$menu-background;
    font-size: 20px;
    padding: none;
    
}

#name-head{

    margin: 0 auto;
}
#name-wrapper{
    margin: 0 auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
