#chats-page {
  align-items: center;
  .chat-link,
  .add-lead-button {
    padding: 2px;
    margin: 0;
    background: none;
    font-size: 20px;
    color: #adadad;
  }

  /*a link when the user mouses over it*/
  .chat-link:hover,
  .add-lead-button:hover {
    color: #000000;
  }

  #chat-iframe {
    margin-top: 20px;
    border: none;
    height: 350px;
    z-index: 100000;
    margin-left: 5px;
  }

  #chat-table-wrapper {
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    height: 30%;
    width: 100%;
  }
  #table-wrapper {
    width: 30%;
  }
  #chat-iframe-loader {
    display: none;
  }
}
#chat-history {
  margin-top: 85px;
  /* margin-left: 20px; */
  width: 320px;

  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    z-index: 100000;
    position: relative;
    height: 2rem;
  }
  #input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }
  #input:focus {
    outline: none;
  }
  #form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 285px;
    overflow-y: scroll;
  }

  #FromCrm,
  #FromLead {
    font-size: 14px;
  }
  #time {
    font-size: 12px;
  }

  #msgFromCrm,
  #msgFromLead {
    font-size: 16px;
  }

  #messages > li {
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 87%;
    border: 1px solid;
    border-color: #efefef;
  }

  #messages > li:nth-child(odd) {
    background: #efefef;
  }
  #chat-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
  }

  #chat-button {
    font-size: 35px;
    border: none;
    background: none;
    transform: scaleX(-1);
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    position: fixed;
  }

  body,
  html {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  #chat-wrapper {
    background: #ffffff;
  }
  #exit-button {
    background: none;
    border: none;
  }
  #addLead {
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
