@import '../../../Views/colors.scss';
// #clients-page{

//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding:0 2.5%;
// }

#table-wrapper{
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.row-button{
    background: none;
    color:$menu-background;
    font-size: 20px;
    padding: none;
    
    
}

#name-head{

    margin: 0 auto;
}
#name-wrapper{
    margin: 0 auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#btn-head-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.add-row{
    border-radius: 3px;
    padding: 8px 12px;

}

#client-page-head{
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 8px;
    color: #000408;
    font-weight: bold;
    line-height: 10px;
}