
@import '../../Views/colors.scss';
.menu{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
 
}

#login-wrapper{
    margin: 0 auto;
}
.controller{
    margin-top: auto;
    opacity: 0.5;
    font-size: 1.5em;
}
.controllerselected-controller{
    font-size: 2em;
    color: #5a9beb;
    text-decoration: underline;
    // background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
    // background-image: linear-gradient(0deg, $menu-background 0%, $head-background 100%);
  }